
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    background: #fff;
}

.navbar{
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5vw;
    position: sticky;
    top: 0;
    z-index: 1000;    
}

.navbar .logo img{
    width: auto;
    height: 65px;
    display: block;

}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
    
}

.nav-links li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #4f5052;
    transition: 0.4s ease-in;
    cursor: pointer;
}

.nav-links li a:hover{
    color: #1f1c1c;
    font-size: 18px;
    font-weight: bold;
    transform: translateY(-10px);
}


.username{
    background: #e0f2fe;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: #0369a1;
    font-size: 0.95rem;
    display: flex;           
    align-items: center;     
    justify-content: center;
    min-width: 150px;
    min-height: 50px; 
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    white-space: nowrap;
}

.username:hover{
    background: linear-gradient(to right, #1f80e2, #00AFFF); 
    color: white;
}

.hero {
  height: 88vh;   
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6em;
  flex-wrap: wrap;  
}

.left{
    flex: 1;
    padding-right: 2rem;
    width: 50vw;
    text-align: left;
}

.left h1{
    font-size: 2.5rem;
    line-height: 1.3;
    color: #4A5568;
}

.left .highlight{
    color: #00AFFF;
    font-weight: bold;
}

.left p {
    font-size: 1.2rem;
    color: #A0AEC0;
    margin-bottom: 2rem;
    max-width: 500px;
    line-height: 1.6;
}

.cta-btn {
    padding: 22px 45px;
    background: linear-gradient(to right, #00AFFF, #1E90FF);
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.cta-btn:hover {
    background: linear-gradient(to right, #1f80e2, #00AFFF); 
}  

.right {
    flex: 1;
    width: 40vw;
    text-align: center;
    height: auto;

}


.right img {
    width: 100%;
    max-width: 25vw;
    height: auto;
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: row;   
    text-align: center;
    padding: 5vh 5vw;
    height: auto;   
  }

  .left, .right {
    width: 100%;
  }

  .left h1 {
    font-size: 5vw;
  }

  .left p {
    font-size: 2vw;
  }

  .cta-btn {
    font-size: 2vw;
    padding: 2vw 4vw;
  }

  .right img {
    max-width: 60vw;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
    .navbar {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto; 
  }

  .navbar ul {
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 0.05rem;
  }

  .username {
    margin-top: 1rem;
  }
}

 





